/* headerここから */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid rgba(192, 192, 192, 0.475);
}
.left {
    width: 200px;
    height: 40px;
    padding: 20px 0 0 20px;
    font-size: 30px;
    font-family: 'Phosphate',sans-serif;
    color: black;
}
.header-right {
    display: flex;
    padding: 20px 0 0 20px;
}
.icons {
    margin-left: 30px;
    font-family: 'Skia-Regular_Black',sans-serif;
    color: black;
}
.icons:last-child {
    margin-right: 30px;
}
.fa-store-alt {
    margin-left: 60px;
    font-size: 20px;
}
.fa-smile-beam {
    margin-left: 25px;
    font-size: 20px;
}
.fa-map-marked-alt {
    margin-left: 5px;
    font-size: 20px;
}
.fa-home {
    font-size: 20px;
    margin-left: 20px;
}
/* headerここまで */

/* mainここから */
dody {
    background: #edf0f1;
}
main div {
    background: rgb(74, 245, 0);
    height: 25px;
    font-size: 20px;
    font-family: 'Papyrus-Condensed',sans-serif;
    padding: 10px 0 0 20px;
}
.main {
    display: flex;
    justify-content: space-around;
    background: #69b6cec3;
    padding: 15px;
    height: 40px;
}
.main input {
    width: 80%;
    color: white;
    font-size: 15px;
    text-indent: 18px;
    background: rgba(255, 255, 255, .2);
    border-radius: 25px; 
    border: none;
}
.main input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
.main i {
    color: red;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    background: pink;
    border-radius: 30%;
}
.main i:hover {
    opacity: .6;
}
/* mainここまで */

/*  chatwark欄ここから */

#room {
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  background-color: #69b6ce53;
  /* background:white; */
}

.chat-input {
  position: fixed;
  bottom: 0;
}

.box-left {
  display: flex;
  justify-content: flex-start;
}

.box-right {
  display: flex;
  justify-content: flex-end;
}

.message-box {
  padding: 20px;
  max-width: 40%;
  margin: 10px;
  border-radius: 30px;
}

.other {
  background-color: white;
}

.me {
  background-color: rgba(106, 142, 35, 0.612);
}
@media screen and (min-width: 411px) and (max-width: 500px) {
  .header {
      flex-direction: column;
      height: 150px;
      justify-content: center;
      align-items: center;
  }
  .icons p {
    display: none;
  }
  .icons {
      margin: 0 auto;
  }
}
@media screen and (min-width:360px) and (max-width: 410px) {
  .header {
    flex-direction: column;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.icons p {
  display: none;
}
.icons {
    margin: 0 auto;
}
  
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .header {
      width: 320px;
      flex-direction: column;
      height: 150px;
      justify-content: center;
      align-items: center;
  }
  .icons p {
    display: none;
  }
  .icons {
      margin: 0 auto;
  }
  main div {
      padding: 10px auto;
  }
}